# <{{ server }}>

## Challenges

Name                                          | Category             | Points
----------------------------------------------|----------------------|----------
{% for c in chals -%}
{{ "%-45s"|format(c.md_link)}} | {{ "%-20s"|format(c.category) }} | {{ c.value }}
{% endfor %}

